body{
  background-color: #333;
  color: whitesmoke;
}

.App{
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  
}

.taskContent{
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}
.btn-custom-class:hover{
  background:#ECC3E1;
}

.btn-custom-class {
  background-color: #ECC3E1;
  color:#555;
  border: #ECC3E1;

  size:'sm';
}
.btn-custom-class:focus, .btn-custom-class:active, .btn-custom-class.active {
  background-color:  #ECC3E1 !important;
  color:#555;
  border: #ECC3E1;
}
.inputText{
  height: 45px;
}
.buttons{
  border-spacing: 5px;
}
.dropdown-button{
  background-color:  #ECC3E1 !important;
  color:#555;
  border: #ECC3E1;
}
.taskContent div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskText {
  flex: 1;
}

.done {
  text-decoration: line-through;
  opacity: 0.8;
}

.fontAwesomeIcons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.fontAwesomeIcons span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color:  #ECC3E1;
}

.fontAwesomeIcons span:hover {
  color: yellow;
}

